/* /* Background Color - #23212c
Comment Color - #7970a9
Selection Color - #454148
Foreground Color - #f7f8f2
Cyan Color - #80ffea
Green Color - #8bff80
Orange Color - #ffc97f
Pink Color - #ff79c6
Purple Color - #bd93f9
Red Color - #ff5555
Yellow Color - #ffff80 
ALT Green - #a8c373 */
body {
  --Cyan: #80ffea;
  --Orange: #ffc97f;
  --Pink: #ff79c6;
  --Purple: #bd93f9;
  --Red: #e55381;
  --Yellow: #ffff80;
  --Green: #edff85;
  --Grey: #262626;
  --White: #f7f8f2;
  --Background: #212121;
}

.language-sql .token.string {
  color: var(--Green) !important;
}

.language-json .token.string {
  color: var(--Green) !important;
}

label.div {
  color: var(--Green) !important;
}

.main {
  background-color: var(--Background) !important;
}

footer {
  visibility: hidden !important;
}

textarea {
  background-color: var(--Grey) !important;
  color: var(--White) !important;
  border: 2px solid var(--Purple) !important;
}

textarea:focus {
  color: var(--White) !important;
}

textarea:not(:focus) {
  color: var(--Red) !important;
}

/* Placeholder text */
[class^="st-"]::placeholder {
  color: var(--Green);
  opacity: .9;
}

h2 {
  text-align: center;
}

/* Gap between radio buttons and checkbox */
.css-na3cxl.effi0qh3 {
  display: none !important;
}

.css-3vg9gg.effi0qh3 {
  display: none !important;
}

/* Body of container */
.block-container {
  max-width: 80rem;
  padding: 3rem 1rem 10rem;
  background-color: var(--Background);
}

header,
footer {
  background-color: var(--Background) !important;
}

.main.css-k1vhr4.egzxvld3 {
  background-color: var(--Background);
}

.css-dj9wn5.egzxvld0 {
  visibility: hidden;
}

/* Menu width */
iframe {
  margin: auto;
  width: 60rem;
  align-self: revert;
  display: grid;
}

/* code block text  */
[data-testid="stMarkdownContainer"]>div>pre {
  height: 450px;
  color: var(--White);
  background-color: var(--Background) !important;
  border: 2px solid var(--Red) !important;
}

.css-4d0s2q .token.property {
  color: var(--Grey);
}

.css-4d0s2q .token.boolean {
  color: var(--Green);
}

.css-4d0s2q .token.number {
  color: var(--Yellow);
}

.css-4d0s2q .token.keyword {
  color: var(--Pink);
}

.css-4d0s2q .token.punctuation {
  color: var(--Pink);
}

.css-4d0s2q .token.operator {
  color: var(--Orange);
}

/* copy button */
[class^="css-tj37xy"] {
  color: var(--Red);
  border: 2px solid var(--Orange) !important;
}

/* Hide menu button */
.css-obh9wf.e16nr0p32 {
  visibility: hidden;
}

/* header */
.css-1tceqde.e16nr0p34 {
  padding-top: .5rem;
  font-size: 14px;
  color: var(--White);
}

/* Radio and Checkbox */

label>div:nth-child(3) {
  color: var(--White);
}


[data-baseweb="checkbox"]>span {
  background-color: var(--Background) !important;
  border: 1px solid var(--Purple) !important;
}

[data-baseweb="radio"]>div:first-child {
  background-color: var(--Red) !important;
}

[data-baseweb="radio"]>div>div {
  background-color: var(--Background) !important;
}

.css-10trblm.e16nr0p30 {
  color: var(--Green);
}

button {
  color: var(--Green) !important;
  background-color: var(--Grey) !important;
  border: 1px solid var(--Purple) !important;
}

button:hover {
  color: var(--White) !important;
  border: 1px solid var(--Red) !important;
}
